body {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

header {
  background: #000082;
  color: white;
  width: 100%;
  padding: 15px 0;
}

footer {
  position: absolute;
  bottom: 0;
}

.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.button-active {
  background-color: red;
}
.button-blue {
  background-color: #000082;
}

.button-grey {
  background-color: #e7e7e7;
  color: black;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing {
  animation: swing 1s ease;
  animation-iteration-count: 2;
}
